
body {
    background-color: white;

}

.header-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px; 
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}

.logo {
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}

.search {
    display: grid;
    grid-template-columns: 152px 111px 128px 37px; 
    justify-self: center;
    align-self: center;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 250px;
    justify-self: end;
    align-self: center;
    padding: 10px;
    margin: 10px;
}

main {
    display: grid;
    justify-content: center;
    width: auto 0;
    background-color: black;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

.mid-section-header {
    display: flex;
    flex-direction: column 2;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

#mid-header-title {
    font-weight: 700;
    font-size: 20px;
    width: 325px;
    justify-content: left;
}
#mid-header-text {
    font-weight: 200;
    font-size: 10px;
    justify-content: left;
}

.btn-explore {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

.mid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

p {
    font-size: 9px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
}

.right-row {
    display: flex;

}
.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    padding: 5px;
}

.bottom-row {
    margin-top: 23px;
    margin-bottom: 30px;
}

.bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    align-items: center;
}

#bottom-left {
    justify-self: center;
    font-size: large;
    width: 300px;
    margin-left: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    border: solid red 1px;
}
#bottom-right {
    justify-self: start;
    font-size: x-small;
    font-weight: 300;
    width: 300px;
    font-family: 'Noto Sans TC', sans-serif;
    border: solid red 1px;
}
